/* ------- Color ------- */

div.introduction h1{
    background-color: hsla(0, 100%, 80%, 0.9);
}

footer{
    background-color: hsla(500, 100%, 80%, 0.9);
}

div.navbar{
    background-color: hsla(600, 100%, 80%, 0.9);
}

div.TopButton{
    background-color: hsla(50, 100%, 50%, 0.9);
}

div.ContactInfo{
    background-color: hsla(600, 100%, 80%, 0.9);
}

div.Schedule{
    background-color: hsla(100, 100%, 80%, 0.9);
}

div.assignments{
    background-image: linear-gradient(rebeccapurple, blue);
}



/** Font/text **/
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ul, ol{
    color: darkmagenta;
    font-weight: bold;
}

h1{
    text-transform: uppercase;
    letter-spacing: 5px
}

p{
    line-height: 35px;
    text-align: center;
}
p::first-letter{
    font-size: 30px;
}



/* Decoration */
a{
    text-decoration: none;
    color:black;
}
a:hover{
    border: hsla(50, 100%, 50%, 0.9) 2.5px solid;
}

body{
    background-image:url(../img/Galaxy.jpg);
}

div.portfolio, div.ContactInfo, div.Schedule{
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

div.navbar li{
    border-top: 5px solid #fff;
    border-top-right-radius: 15px;
}

h1{
    border-top: 5px solid #0ff;
    border-top-right-radius: 30px;
    transition: background-color 2s;
}

h1:hover{
    transform: rotate(-5deg);
    
    background-color: rebeccapurple;
}

div.Schedule tr:nth-child(2n){
    background-color: lightblue;
}
div.Schedule td{
    padding: 0.5%;
    vertical-align: top;
}
div.Schedule table tr td{
    border: 1px solid #0fff;
    empty-cells: show;
}

div.portfolio p:nth-child(2){
    box-shadow: 15px 15px 50px dimgrey;
}

div.introduction:active{
    display: none;
} 

/* ------- Layout ------- */



/* ------- Fixed ------- */
div.introduction h1{
    display: none;

}

div.introduction{
    position: fixed;
    margin-top: 2%;
}

div.introduction p:nth-child(2){
    width: 60%;
    height: 150px;
    float: left;
    padding: 1%;
    margin-bottom: 0%;
    background-color:hsla(0, 100%, 80%, 0.9)
}

div.introduction p:nth-child(3){
    width: 36.001%;
    height: 150px;
    float: right;
    padding: 1%;
    background-color: rgb(63, 125, 240);

}

footer{
    position: fixed;
    width: 12.25%;
    left: 44.5%;
    bottom: 0px;

}
footer p{
    margin: 0%;
}
footer:active{
    visibility: hidden;
}


div.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

div.navbar ul li:nth-child(1){
    position: relative;
    display: inline-block;
    left: 0%;
}
div.navbar ul li:nth-child(2){
    position: relative;
    display: inline-block;
    left: 5%;
}
div.navbar ul li:nth-child(3){
    position: relative;
    display: inline-block;
    left: 10%;
}

div.TopButton{
    position: fixed;
    width: 2%;
    height: 2%;
    right: 0px;
    bottom: 0px;
    padding: 0.25%;
}



/* ------- Non-Fixed Postion ------- */


div.portfolio{ 
    margin-top: 15%;
    background-color: hsla(400, 100%, 80%, 0.9);
    padding: 1%;
    float: left;
    width: 60%;
}   

div.ContactInfo{
    padding: 1%;
    float: left;
    width: 60%;
}

div.Schedule{
    padding: 1%;
    float: left;
    width: 60%;
}



/* ------- Absolute ------- */
div.assignments{
    position: absolute;
    width: 25%;
    height: 25%;
    right: 249px;
    top: 291px;

}