div.loaninfo{ /* WHY DOESN'T THIS WORK???? */
    background-color: lightcyan;
    float: right;
}

div.loaninfo h1{ /* WHY DOESN'T THIS WORK???? */
    background-color: lightblue;
}

#loanbutton{ /* WHY DOESN'T THIS WORK???? */
    background-color:  lightblue;;
}

body{
    background-image:url(../img/Estate.jpg);
}

#loantable{
    border: 1px solid rgb(0, 0, 0);
    empty-cells: show;
}

#loantable tr{
    background-color: lightblue;
}

#loantable tr:nth-child(1){
    background-color: rgb(51, 104, 173);
}

div.tableDiv p{
    background-color: aquamarine;
}